{% extends 'quiz/base.html' %}
{% block title %}Photo Quiz{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        Вопрос {{ score|add:1 }} | Балл: {{ score }}
    </div>
    <div class="card-body text-center">
        <img src="{{ species.image_url }}" class="img-fluid mb-4"
             style="max-height: 300px;" alt="Parrot photo">
        <h5 class="card-title">Какой это вид?</h5>
        <form method="post">
            {% csrf_token %}
            {% for choice in choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer"
                           id="choice_{{ forloop.counter }}" value="{{ choice }}" required>
                    <label class="form-check-label" for="choice_{{ forloop.counter }}">
                        {{ choice }}
                    </label>
                </div>
            {% endfor %}
                     <button type="submit" class="btn btn-primary mt-3">Ответить</button>
         </form>
        <form method="post" action="{% url 'quiz:quit' %}" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Завершить и сохранить</button>
        </form>
    </div>
</div>
{% endblock %}