{% extends 'quiz/base.html' %}
{% block title %}{{ species.name }}{% endblock %}
{% block content %}
<div class="card">
    <div class="row g-0">
        <div class="col-md-4">
            {% if species.image_url %}
                <img src="{{ species.image_url }}" class="img-fluid rounded-start" alt="{{ species.name }}">
            {% else %}
                <img src="/static/quiz/images/default.jpg" class="img-fluid rounded-start" alt="No image">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ species.name }}</h2>
                <p class="card-text"><em>{{ species.scientific_name }}</em></p>
                <p class="card-text">{{ species.description }}</p>
                <a href="{% url 'quiz:species_edit' species.pk %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'quiz:question_create' %}?species={{ species.pk }}" class="btn btn-success">Добавить вопрос</a>
                <a href="{% url 'quiz:species_list' %}" class="btn btn-secondary">Назад к списку</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}